<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/datatables/css/dataTables.bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/datatables/extensions/FixedColumns/fixedColumns.bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../plugins/datatables/extensions/Buttons/buttons.dataTables.css"/>
		<link rel="stylesheet" type="text/css" href="../plugins/datatables/extensions/Buttons/buttons.bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../plugins/select2/css/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/select2/css/select2-bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css"/>
        <link rel="stylesheet" href="../css/custom.min.css" />

		<!--[if lt IE 9]>
		  <script src="../plugins/html5shiv.min.js"></script>
		  <script src="../plugins/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="page-content scroller">
			<div class="panel panel-line">
				<div class="panel-heading">
					<h3 class="panel-title">工程订单管理-datatables.js</h3>
				</div>
				<div class="panel-body">
					<div class="panel-search">
						<form class="form-horizontal" action="">
							<div class="row panel-search-form">
								<div class="col-sm-4">
									<div class="input-group">
										<span class="input-group-addon">关键字1</span>
										<input type="text" class="form-control" placeholder="">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="input-group">
										<span class="input-group-addon">下拉选择</span>
										<select name="" class="form-control">
											<option value="0">选项一</option>
											<option value="1">选项二</option>
											<option value="2">选项三</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="input-group">
										<span class="input-group-addon">时间筛选</span>
										<div class="input-icon right">
											<i class="fa fa-calendar"></i>
											<input type="text" class="form-control" id="datetime" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-sm-12 panel-search-more">
									<a href="javascript:;">更多搜索 <i class="fa fa-angle-double-right"></i></a>
								</div>
								<div class="panel-search-moreBody">
									<div class="col-sm-4">
										<div class="input-daterange input-group" id="datepickerRange">
											<span class="input-group-addon">时间段</span>
											<input type="text" class="input-sm form-control" name="start" />
											<span class="input-group-addon">to</span>
											<input type="text" class="input-sm form-control" name="end" />
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<span class="input-group-addon">搜索条件</span>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<span class="input-group-addon">搜索条件</span>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<span class="input-group-addon">搜索条件</span>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<span class="input-group-addon">搜索条件</span>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
								</div>
							</div>
							<div class="panel-search-action">
								<button type="button" class="btn btn-block btn-danger"><i class="ace-icon fa fa-search"></i> 查询</button>
								<button type="reset" class="btn btn-block btn-warning hidden"><i class="ace-icon fa fa-repeat"></i> 重置</button>
							</div>
						</form>
					</div>
					<div class="alert alert-info alert-mini">
						预警图标说明：<i class="fa fa-warning text-danger"></i> 表示已超时 <i class="fa fa-bell-o text-warning"></i> 表示即将超时 <i class="fa fa-question-circle text-primary"></i> 表示还未维护项目编码
					</div>
					<div id="toolbars" class="hidden">
						<div class="btn-group">
							<button type="button" onclick="addItem()" class="btn btn-danger"><i class="fa fa-plus-circle"></i> 新增</button>
							<button type="button" class="btn btn-warning"><i class="fa fa-times"></i> 删除</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="fa fa-gear"></i> 其他操作</button>
							<button type="button" class="btn btn-default"><i class="fa fa-gear"></i> 其他操作</button>
						</div>
					</div>
					<table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTable"></table>
				</div>
			</div>
		</div>
		<script src="../plugins/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/datatables/js/dataTables.bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--表格-固定列-->
		<script src="../plugins/datatables/extensions/FixedColumns/dataTables.fixedColumns.min.js" type="text/javascript" charset="utf-8"></script>
		<!--表格-按钮-->
		<script src="../plugins/datatables/extensions/Buttons/dataTables.buttons.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/datatables/extensions/Buttons/buttons.bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<!--表格-按钮-打印、复制、列选、pdf-->
		<script src="../plugins/jszip.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/pdfmake.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/vfs_fonts.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/datatables/extensions/Buttons/buttons.html5.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/datatables/extensions/Buttons/buttons.print.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/datatables/extensions/Buttons/buttons.colVis.min.js" type="text/javascript" charset="utf-8"></script>
		<!--表格-结束-->
		<script src="../plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/select2/js/select2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/app.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../data/datatable.js" type="text/javascript" charset="utf-8"></script>
		<script src="list.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>