<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-sweetalert/sweetalert.css"/>
		<link rel="stylesheet" href="../css/custom.min.css" />

		<!--[if lt IE 9]>
		  <script src="../plugins/html5shiv.min.js"></script>
		  <script src="../plugins/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="page-content">
			<div class="panel panel-line">
				<div class="panel-heading">
					<h3 class="panel-title">信息提示与确认</h3>
				</div>
				<div class="panel-body">
					<div class="dividerBox dividerBox-primary dividerBox-blue">
						<div class="row">
							<div class="col-sm-6">
								<p>
									<button id="alert1" class="btn btn-default">简单信息提示</button>
								</p>
								<pre>
swal("您好！欢迎使用sweetAlert.js！")	</pre>
							</div>
							<div class="col-sm-6">
								<p>
									<button id="alert2" class="btn btn-default">主副标题提示</button>
								</p>
								<pre>
swal("您好！欢迎使用sweetAlert.js！")	</pre>
							</div>
							<div class="col-sm-6">
								<p>
									<button id="alert3" class="btn btn-success">ICON Sucees</button>
								</p>
								<pre>
swal("提示!", "您已操作成功!", "success")	</pre>
							</div>
							<div class="col-sm-6">
								<p>
									<button id="alert4" class="btn btn-warning">ICON Warning</button>
								</p>
								<pre>
swal("提示!", "您的操作中存在一些问题，请修正!", "warning")	</pre>
							</div>
							<div class="col-sm-6">
								<p>
									<button id="alert5" class="btn btn-danger">ICON Error</button>
								</p>
								<pre>
swal("提示!", "当前操作错误!", "error")</pre>
							</div>
							<div class="col-sm-6">
								<p>
									<button id="alert6" class="btn btn-info">ICON Info</button>
								</p>
								<pre>
swal("提示!", "已完成!", "info")	</pre>
							</div>
							<div class="col-sm-6">
								<p>
									<button id="alert7" class="btn btn-warning">自定义取消按钮</button>
								</p>
								<pre>
swal({
	title:'提示',
	text:'您确定要删除当前记录吗？',
	type: "warning",
	showCancelButton: true,
	confirmButtonClass: "btn-danger",
	confirmButtonText: "狠心删除！",
	cancelButtonText: "取消",
    closeOnConfirm: false,
    closeOnCancel: false
},
function(isConfirm){
	if(isConfirm){
		swal("删除操作", "您已成功删除一条记录！", "success");
	} else {
	    swal("删除操作", "您已放弃删除此条记录！", "error");
	}
  
})	</pre>
							</div>
							
							<div class="col-sm-6">
								<p>
									<button id="alert8" class="btn btn-info">prompt提示框</button>
								</p>
								<pre>
swal({
	title:'请输入',
	text:'为方便联系，您输入您的联系方式！',
	type: "input",
	inputPlaceholder: "请输入手机号码",
	showCancelButton: true,
	confirmButtonClass: "btn-info",
	confirmButtonText: "确定！",
	cancelButtonText: "取消",
    closeOnConfirm: false
},
function(inputValue){
	if (inputValue === false) return false;
	if (inputValue === "") {
	    swal.showInputError("请输入您的联系方式!");
	    return false
	}
	swal("操作成功！","您输入的联系方式为: " + inputValue, "success");
})</pre>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../plugins/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/app.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="sweetAlert.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
